
:root {
  --white: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semitransparent-dark: #908d8b;
  --broun: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AnyConv.com__OpenSans-Regular.woff2),
        url(../fonts/AnyConv.com__OpenSans-Regular.woff);
}

@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AnyConv.com__Neucha-Regular.woff2),
        url(../fonts/AnyConv.com__Neucha-Regular.woff);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.container {
  margin: 0 auto;
  width: 1110px;
  padding: 100px 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3 {
  line-height: 120%;
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  color: var(--main);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.dark-title {
  color: var(--dark);
}

/* span.dark-title {
  line-height: 100%;
} */

.header-section {
  position: relative;
  background-color: var(--light);
  overflow-x: hidden;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header-section::before {
  position: absolute;
  content: "";
  background-image: url(../img/background.png);
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 198px;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
}

.header-bottom {
  display: flex;
  gap: 30px;
}

.left-p {
  flex-basis: 50%;
}

.right-p {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.right-p p:nth-of-type(1) {
  margin-bottom: 15px;
}

.header-button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--main);
  margin-top: 40px;
  padding: 12px 24px;
  width: 148px;
  height: 49px;
  color: var(--white);
  font-weight: 700;
  border: none;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--white);
}

.video-section h2 {
  padding-top: 100px;
  text-align: center;
}

.video-section p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #212529;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  border: none;
  margin-bottom: -90px;
}

.navigation {
  background-color: var(--main-dark);
  padding-top: 100px;
}

.container-navigation-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.navigation h2 {
  font-size: 52px;
  margin-right: 9px;
}

.navigation span {
  color: var(--white);
}

.card {
  background-color: var(--light);
  width: 350px;
  height: 348px;
  padding: 24px;
}

.card:first-of-type,
.card:nth-of-type(2) {
  height: 323px;
}

.card-number {
  font-family: "Neucha",sans-serif;
  font-size: 64px;
  line-height: 1;
}

span.card-number {
  color: var(--main-dark);
}

.card a {
  text-decoration: none;
}

.card h3 {
  margin-top: 40px;
  margin-bottom: 16px;
}

.card:nth-of-type(5) h3 {
  margin-bottom: 12px;
}

.card p {
  color: var(--dark);
}

.card:hover {
  background-color: var(--main);
}

.card:hover span,
.card:hover h3,
.card:hover p {
  color: var(--white);
}






.ikea-section,
.distortion-of-novelty,
.errors-in-planning {
  position: relative;
  background-color: var(--light);
  color: var(--dark);
}

.ikea-section::before,
.distortion-of-novelty::before,
.errors-in-planning::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.ikea-container,
.distortion-container,
.errors-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  padding: 100px 0;
}

.ikea-first-section,
.distortion-first-section,
.errors-first-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.ikea-image,
.distortion-image,
.errors-image {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}

.image-container {
  display: flex;
}

.ikea-title,
.distortion-title,
.errors-title {
  margin: 0;
  margin-bottom: 30px;
  color: var(--dark);
  font-family: "Neucha";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ikea-title-small,
.distortion-title-small,
.errors-title-small {
  display: inline-block;
  color: var(--semitransparent-dark);
  font-family: "Neucha";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ikea-description,
.distortion-description,
.errors-description {
  color: var(--dark);
  font-family: "Neucha";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ikea-title-second-container,
.distortion-title-second-container,
.errors-title-second-container {
  width: 1110px;
  height: 26px;
  background-color: var(--broun);
  margin-top: 100px;
  margin-bottom: 20px;
}

.ikea-title-second,
.distortion-title-second,
.errors-title-second {
  color: var(--white);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px;
}

.ikea-description-two-container,
.distortion-description-two-container,
.errors-description-two-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
}

.ikea-description-two,
.distortion-description-two,
.errors-description-two {
  flex-basis: 50%;
}

div .errors-description-two:nth-child(1) {
  margin-bottom: 16px;
}

.optimisation-container,
.hyperbolic-depreciation {
  position: relative;
  background-color: var(--broun);
  color: var(--white);
}

.optimisation-container::before,
.hyperbolic-depreciation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.premature-optimization,
.hyperbolic-container {
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  max-width: 1110px;
}

.optimisation-first-section,
.hyperbolic-first-section {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.optimisation-image,
.hyperbolic-image {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}

.optimisation-title,
.hyperbolic-title {
  margin: 0;
  margin-bottom: 30px;
  color: var(--white);
  font-family: "Neucha";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.optimisation-title-small,
.hyperbolic-title-small {
  display: inline-block;
  color: var(--semitransparent-white);
  font-family: "Neucha";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.optimisation-description,
.hyperbolic-description {
  color: var(--white);
  font-family: "Neucha";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.optimisation-title-second-container,
.hyperbolic-title-second-container {
  width: 1110px;
  height: 26px;
  background-color: var(--white);
  margin-top: 100px;
  margin-bottom: 20px;
}

.optimisation-title-second,
.hyperbolic-title-second {
  color: var(--broun);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px;
}

.optimisation-description-two-container,
.hyperbolic-description-two-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.optimisation-description-two,
.hyperbolic-description-two {
  flex-basis: 50%;
}

.footer {
  display: flex;
  position: relative;
  background-color: var(--white);
}

.footer-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  padding: 100px 0 111px 0;
}

.footer-send {
  display: flex;
  flex-direction: row;
  gap: 122px;
  width: 1110px;
  height: 190px;
  padding: 55px;
  background-color: var(--main-dark);
  color: var(--white);
}

.footer-title {
  font-family: "Neucha";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
  margin: 0;
}

.footer-send-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;
}

.input-flex {
  display: flex;
}

.input-email {
  width: 423px;
  height: 50px;
  border: 1px solid #E3E3E3;
  background-color: var(--white);
  padding: 15px;
}

::placeholder {
  color: #757575;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.2;
}

.footer-button {
  border: none;
  position: relative;
  width: 70px;
  height: 50px;
  padding: 13px 23px;
  background-color: var(--main);
}

.footer-button::before {
  position: absolute;
  content: "";
  background-image: url(../img/send.svg);
  width: 24px;
  height: 24px;
  left: 20px;
  top: 13px;
}

.footer-agreement {
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.agreement {
  color: var(--white);
}

.footer-name {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.footer-name p:not(:last-of-type) {
  padding-bottom: 16px;
}

.footer-name p a {
  color: #007DC1;
}

.errors-container {
  min-height: 919px;
} */ */
